In [1]:
import pandas as pd

In [24]:
df = pd.read_csv("AnnualTicketSales.csv")

In [25]:
df

,YEAR,TICKETS SOLD,TOTAL BOX OFFICE,TOTAL INFLATION ADJUSTED BOX OFFICE,AVERAGE TICKET PRICE,Unnamed: 5
0,2021,"42,37,74,881","$3,881,777,912","$3,881,777,912",$9.16,NaN
1,2020,"22,36,38,958","$2,048,534,616","$2,048,534,616",$9.16,NaN
2,2019,"1,22,85,41,629","$11,253,443,955","$11,253,444,050",$9.16,NaN
3,2018,"1,31,15,36,128","$11,948,096,650","$12,013,670,952",$9.11,NaN
4,2017,"1,22,56,39,761","$10,993,991,460","$11,226,860,216",$8.97,NaN
5,2016,"1,30,25,56,378","$11,267,115,924","$11,931,416,424",$8.65,NaN
6,2015,"1,32,33,56,776","$11,155,900,636","$12,121,948,075",$8.43,NaN
7,2014,"1,25,74,02,920","$10,272,985,008","$11,517,810,744",$8.17,NaN
8,2013,"1,33,91,68,926","$10,887,446,341","$12,266,787,382",$8.13,NaN
9,2012,"1,38,09,21,942","$10,992,141,616","$12,649,244,986",$7.96,NaN
10,2011,"1,28,29,15,168","$10,173,519,704","$11,751,502,955",$7.93,NaN
11,2010,"1,32,85,49,021","$10,482,254,025","$12,169,509,032",$7.89,NaN
12,2009,"1,41,85,67,388","$10,639,257,284","$12,994,051,137",$7.50,NaN
13,2008,"1,35,80,42,073","$9,750,744,148","$12,439,665,380",$7.18,NaN
14,2007,"1,42,00,36,680","$9,769,854,914","$13,007,535,993",$6.88,NaN
15,2006,"1,39,87,38,283","$9,161,738,221","$12,812,442,671",$6.55,NaN
16,2005,"1,37,29,80,280","$8,800,805,718","$12,576,499,367",$6.41,NaN
17,2004,"1,49,56,51,298","$9,287,996,519","$13,700,165,883",$6.21,NaN
18,2003,"1,52,45,89,620","$9,193,277,289","$13,965,240,914",$6.03,NaN
19,2002,"1,57,57,56,527","$9,155,147,215","$14,433,929,789",$5.81,NaN
20,2001,"1,46,58,74,205","$8,296,849,636","$13,427,407,722",$5.66,NaN
21,2000,"1,39,74,60,079","$7,532,311,479","$12,800,734,319",$5.39,NaN
22,1999,"1,44,46,64,086","$7,338,894,852","$13,233,123,027",$5.08,NaN
23,1998,"1,44,38,32,471","$6,771,575,283","$13,225,505,439",$4.69,NaN
24,1997,"1,35,73,49,648","$6,230,235,770","$12,433,322,785",$4.59,NaN
25,1996,"1,30,52,21,290","$5,769,078,886","$11,955,781,912",$4.42,NaN
26,1995,"1,22,17,05,907","$5,314,421,390","$11,190,826,105",$4.35,NaN

In [26]:
df.tail()

,YEAR,TICKETS SOLD,TOTAL BOX OFFICE,TOTAL INFLATION ADJUSTED BOX OFFICE,AVERAGE TICKET PRICE,Unnamed: 5
22,1999,"1,44,46,64,086","$7,338,894,852","$13,233,123,027",$5.08,NaN
23,1998,"1,44,38,32,471","$6,771,575,283","$13,225,505,439",$4.69,NaN
24,1997,"1,35,73,49,648","$6,230,235,770","$12,433,322,785",$4.59,NaN
25,1996,"1,30,52,21,290","$5,769,078,886","$11,955,781,912",$4.42,NaN
26,1995,"1,22,17,05,907","$5,314,421,390","$11,190,826,105",$4.35,NaN

In [27]:
df.drop("Unnamed: 5", axis = 1, inplace = True)

In [28]:
df.isnull().sum()

YEAR                                   0
TICKETS SOLD                           0
TOTAL BOX OFFICE                       0
TOTAL INFLATION ADJUSTED BOX OFFICE    0
AVERAGE TICKET PRICE                   0
dtype: int64

In [29]:
df.duplicated().sum()

0

In [30]:
df["TICKETS SOLD"].dtype

dtype('O')

In [31]:
df["TICKETS SOLD"] = df["TICKETS SOLD"].str.replace(",", "")

In [33]:
df["TICKETS SOLD"] = df["TICKETS SOLD"].apply(lambda x: float(x))

In [34]:
df["TICKETS SOLD"].dtype

dtype('float64')

In [35]:
df["TOTAL BOX OFFICE"] = df["TOTAL BOX OFFICE"].str.replace("," , "")

In [36]:
df

,YEAR,TICKETS SOLD,TOTAL BOX OFFICE,TOTAL INFLATION ADJUSTED BOX OFFICE,AVERAGE TICKET PRICE
0,2021,4.237749e+08,$3881777912,"$3,881,777,912",$9.16
1,2020,2.236390e+08,$2048534616,"$2,048,534,616",$9.16
2,2019,1.228542e+09,$11253443955,"$11,253,444,050",$9.16
3,2018,1.311536e+09,$11948096650,"$12,013,670,952",$9.11
4,2017,1.225640e+09,$10993991460,"$11,226,860,216",$8.97
5,2016,1.302556e+09,$11267115924,"$11,931,416,424",$8.65
6,2015,1.323357e+09,$11155900636,"$12,121,948,075",$8.43
7,2014,1.257403e+09,$10272985008,"$11,517,810,744",$8.17
8,2013,1.339169e+09,$10887446341,"$12,266,787,382",$8.13
9,2012,1.380922e+09,$10992141616,"$12,649,244,986",$7.96
10,2011,1.282915e+09,$10173519704,"$11,751,502,955",$7.93
11,2010,1.328549e+09,$10482254025,"$12,169,509,032",$7.89
12,2009,1.418567e+09,$10639257284,"$12,994,051,137",$7.50
13,2008,1.358042e+09,$9750744148,"$12,439,665,380",$7.18
14,2007,1.420037e+09,$9769854914,"$13,007,535,993",$6.88
15,2006,1.398738e+09,$9161738221,"$12,812,442,671",$6.55
16,2005,1.372980e+09,$8800805718,"$12,576,499,367",$6.41
17,2004,1.495651e+09,$9287996519,"$13,700,165,883",$6.21
18,2003,1.524590e+09,$9193277289,"$13,965,240,914",$6.03
19,2002,1.575757e+09,$9155147215,"$14,433,929,789",$5.81
20,2001,1.465874e+09,$8296849636,"$13,427,407,722",$5.66
21,2000,1.397460e+09,$7532311479,"$12,800,734,319",$5.39
22,1999,1.444664e+09,$7338894852,"$13,233,123,027",$5.08
23,1998,1.443832e+09,$6771575283,"$13,225,505,439",$4.69
24,1997,1.357350e+09,$6230235770,"$12,433,322,785",$4.59
25,1996,1.305221e+09,$5769078886,"$11,955,781,912",$4.42
26,1995,1.221706e+09,$5314421390,"$11,190,826,105",$4.35

In [37]:
df["TOTAL BOX OFFICE"] = df["TOTAL BOX OFFICE"].apply(lambda x: float(x[1:]))

In [38]:
df["TOTAL BOX OFFICE"].dtype

dtype('float64')

In [39]:
df

,YEAR,TICKETS SOLD,TOTAL BOX OFFICE,TOTAL INFLATION ADJUSTED BOX OFFICE,AVERAGE TICKET PRICE
0,2021,4.237749e+08,3.881778e+09,"$3,881,777,912",$9.16
1,2020,2.236390e+08,2.048535e+09,"$2,048,534,616",$9.16
2,2019,1.228542e+09,1.125344e+10,"$11,253,444,050",$9.16
3,2018,1.311536e+09,1.194810e+10,"$12,013,670,952",$9.11
4,2017,1.225640e+09,1.099399e+10,"$11,226,860,216",$8.97
5,2016,1.302556e+09,1.126712e+10,"$11,931,416,424",$8.65
6,2015,1.323357e+09,1.115590e+10,"$12,121,948,075",$8.43
7,2014,1.257403e+09,1.027299e+10,"$11,517,810,744",$8.17
8,2013,1.339169e+09,1.088745e+10,"$12,266,787,382",$8.13
9,2012,1.380922e+09,1.099214e+10,"$12,649,244,986",$7.96
10,2011,1.282915e+09,1.017352e+10,"$11,751,502,955",$7.93
11,2010,1.328549e+09,1.048225e+10,"$12,169,509,032",$7.89
12,2009,1.418567e+09,1.063926e+10,"$12,994,051,137",$7.50
13,2008,1.358042e+09,9.750744e+09,"$12,439,665,380",$7.18
14,2007,1.420037e+09,9.769855e+09,"$13,007,535,993",$6.88
15,2006,1.398738e+09,9.161738e+09,"$12,812,442,671",$6.55
16,2005,1.372980e+09,8.800806e+09,"$12,576,499,367",$6.41
17,2004,1.495651e+09,9.287997e+09,"$13,700,165,883",$6.21
18,2003,1.524590e+09,9.193277e+09,"$13,965,240,914",$6.03
19,2002,1.575757e+09,9.155147e+09,"$14,433,929,789",$5.81
20,2001,1.465874e+09,8.296850e+09,"$13,427,407,722",$5.66
21,2000,1.397460e+09,7.532311e+09,"$12,800,734,319",$5.39
22,1999,1.444664e+09,7.338895e+09,"$13,233,123,027",$5.08
23,1998,1.443832e+09,6.771575e+09,"$13,225,505,439",$4.69
24,1997,1.357350e+09,6.230236e+09,"$12,433,322,785",$4.59
25,1996,1.305221e+09,5.769079e+09,"$11,955,781,912",$4.42
26,1995,1.221706e+09,5.314421e+09,"$11,190,826,105",$4.35

In [40]:
sub = 0
for i in df["TOTAL BOX OFFICE"]:
    sub = sub + i
    print(sub)

3881777912.0
5930312528.0
17183756483.0
29131853133.0
40125844593.0
51392960517.0
62548861153.0
72821846161.0
83709292502.0
94701434118.0
104874953822.0
115357207847.0
125996465131.0
135747209279.0
145517064193.0
154678802414.0
163479608132.0
172767604651.0
181960881940.0
191116029155.0
199412878791.0
206945190270.0
214284085122.0
221055660405.0
227285896175.0
233054975061.0
238369396451.0

In [41]:
df["TOTAL INFLATION ADJUSTED BOX OFFICE"] = df["TOTAL INFLATION ADJUSTED BOX OFFICE"].str.replace("," , "")

In [43]:
df["TOTAL INFLATION ADJUSTED BOX OFFICE"] = df["TOTAL INFLATION ADJUSTED BOX OFFICE"].apply(lambda x: float(x[1:]))

In [44]:
df["TOTAL INFLATION ADJUSTED BOX OFFICE"].dtype

dtype('float64')

In [46]:
df["AVERAGE TICKET PRICE"] = df["AVERAGE TICKET PRICE"].str.replace(",", "")

In [47]:
df["AVERAGE TICKET PRICE"] = df["AVERAGE TICKET PRICE"].apply(lambda x: float(x[1:]))

In [48]:
df["AVERAGE TICKET PRICE"].dtype

dtype('float64')

In [49]:
df

,YEAR,TICKETS SOLD,TOTAL BOX OFFICE,TOTAL INFLATION ADJUSTED BOX OFFICE,AVERAGE TICKET PRICE
0,2021,4.237749e+08,3.881778e+09,3.881778e+09,9.16
1,2020,2.236390e+08,2.048535e+09,2.048535e+09,9.16
2,2019,1.228542e+09,1.125344e+10,1.125344e+10,9.16
3,2018,1.311536e+09,1.194810e+10,1.201367e+10,9.11
4,2017,1.225640e+09,1.099399e+10,1.122686e+10,8.97
5,2016,1.302556e+09,1.126712e+10,1.193142e+10,8.65
6,2015,1.323357e+09,1.115590e+10,1.212195e+10,8.43
7,2014,1.257403e+09,1.027299e+10,1.151781e+10,8.17
8,2013,1.339169e+09,1.088745e+10,1.226679e+10,8.13
9,2012,1.380922e+09,1.099214e+10,1.264924e+10,7.96
10,2011,1.282915e+09,1.017352e+10,1.175150e+10,7.93
11,2010,1.328549e+09,1.048225e+10,1.216951e+10,7.89
12,2009,1.418567e+09,1.063926e+10,1.299405e+10,7.50
13,2008,1.358042e+09,9.750744e+09,1.243967e+10,7.18
14,2007,1.420037e+09,9.769855e+09,1.300754e+10,6.88
15,2006,1.398738e+09,9.161738e+09,1.281244e+10,6.55
16,2005,1.372980e+09,8.800806e+09,1.257650e+10,6.41
17,2004,1.495651e+09,9.287997e+09,1.370017e+10,6.21
18,2003,1.524590e+09,9.193277e+09,1.396524e+10,6.03
19,2002,1.575757e+09,9.155147e+09,1.443393e+10,5.81
20,2001,1.465874e+09,8.296850e+09,1.342741e+10,5.66
21,2000,1.397460e+09,7.532311e+09,1.280073e+10,5.39
22,1999,1.444664e+09,7.338895e+09,1.323312e+10,5.08
23,1998,1.443832e+09,6.771575e+09,1.322551e+10,4.69
24,1997,1.357350e+09,6.230236e+09,1.243332e+10,4.59
25,1996,1.305221e+09,5.769079e+09,1.195578e+10,4.42
26,1995,1.221706e+09,5.314421e+09,1.119083e+10,4.35

In [50]:
df["YEAR"].dtype

dtype('int64')

# Highest Grossers.csv

In [51]:
hg = pd.read_csv("HighestGrossers.csv")

In [52]:
hg

,YEAR,MOVIE,GENRE,MPAA RATING,DISTRIBUTOR,TOTAL FOR YEAR,TOTAL IN 2019 DOLLARS,TICKETS SOLD
0,1995,Batman Forever,Drama,PG-13,Warner Bros.,"$184,031,112","$387,522,978","4,23,06,002"
1,1996,Independence Day,Adventure,PG-13,20th Century Fox,"$306,169,255","$634,504,608","6,92,69,062"
2,1997,Men in Black,Adventure,PG-13,Sony Pictures,"$250,650,052","$500,207,943","5,46,07,854"
3,1998,Titanic,Adventure,PG-13,Paramount Pictures,"$443,319,081","$865,842,808","9,45,24,324"
4,1999,Star Wars Ep. I: The Phantom Menace,Adventure,PG,20th Century Fox,"$430,443,350","$776,153,749","8,47,32,942"
5,2000,How the Grinch Stole Christmas,Adventure,PG,Universal,"$253,367,455","$430,583,644","4,70,06,948"
6,2001,Harry Potter and the Sorcerer’s Stone,Adventure,PG,Warner Bros.,"$300,404,434","$486,166,890","5,30,74,988"
7,2002,Spider-Man,Adventure,PG-13,Sony Pictures,"$403,706,375","$636,480,273","6,94,84,746"
8,2003,Finding Nemo,Adventure,G,Walt Disney,"$339,714,367","$516,050,346","5,63,37,374"
9,2004,Shrek 2,Adventure,PG,Dreamworks SKG,"$441,226,247","$650,826,473","7,10,50,925"
10,2005,Star Wars Ep. III: Revenge of the Sith,Action,PG-13,20th Century Fox,"$380,270,577","$543,413,171","5,93,24,582"
11,2006,Pirates of the Caribbean: Dead Man’s Chest,Action,PG-13,Walt Disney,"$423,315,812","$591,995,851","6,46,28,368"
12,2007,Spider-Man 3,Adventure,PG-13,Sony Pictures,"$336,530,303","$448,054,878","4,89,14,288"
13,2008,The Dark Knight,Adventure,PG-13,Warner Bros.,"$531,001,578","$677,433,772","7,39,55,652"
14,2009,Transformers: Revenge of the Fallen,Action,PG-13,Paramount Pictures,"$402,111,870","$491,112,631","5,36,14,916"
15,2010,Toy Story 3,Action,G,Walt Disney,"$415,004,880","$481,805,411","5,25,98,844"
16,2011,Harry Potter and the Deathly Hallows: Part II,Action,PG-13,Warner Bros.,"$381,011,219","$440,108,798","4,80,46,812"
17,2012,The Avengers,Adventure,PG-13,Walt Disney,"$623,357,910","$717,331,462","7,83,11,295"
18,2013,Iron Man 3,Adventure,PG-13,Walt Disney,"$408,992,272","$460,808,016","5,03,06,552"
19,2014,Guardians of the Galaxy,Adventure,PG-13,Walt Disney,"$333,055,258","$373,413,235","4,07,65,637"
20,2015,Star Wars Ep. VII: The Force Awakens,Action,PG-13,Walt Disney,"$742,208,942","$806,480,887","8,80,43,765"
21,2016,Finding Dory,Action,PG,Walt Disney,"$486,295,561","$514,967,322","5,62,19,140"
22,2017,Star Wars Ep. VIII: The Last Jedi,Action,PG-13,Walt Disney,"$517,218,368","$528,173,936","5,76,60,910"
23,2018,Black Panther,Action,PG-13,Walt Disney,"$700,059,566","$703,901,821","7,68,45,177"
24,2019,Avengers: Endgame,NaN,PG-13,Walt Disney,"$858,373,000","$858,373,002","9,37,08,843"
25,2020,Bad Boys For Life,NaN,R,Sony Pictures,"$204,417,855","$204,417,848","2,23,16,359"
26,2021,Shang-Chi and the Legend of the Ten Rings,NaN,PG-13,Walt Disney,"$224,226,704","$224,226,704","2,44,78,897"

In [55]:
hg.duplicated().sum()

0

In [57]:
hg.isnull().sum()

YEAR                     0
MOVIE                    0
GENRE                    3
MPAA RATING              0
DISTRIBUTOR              0
TOTAL FOR YEAR           0
TOTAL IN 2019 DOLLARS    0
TICKETS SOLD             0
dtype: int64

In [68]:
hg["GENRE"].fillna("Drama", inplace = True)

In [69]:
hg

,YEAR,MOVIE,GENRE,MPAA RATING,DISTRIBUTOR,TOTAL FOR YEAR,TOTAL IN 2019 DOLLARS,TICKETS SOLD
0,1995,Batman Forever,Drama,PG-13,Warner Bros.,"$184,031,112","$387,522,978","4,23,06,002"
1,1996,Independence Day,Adventure,PG-13,20th Century Fox,"$306,169,255","$634,504,608","6,92,69,062"
2,1997,Men in Black,Adventure,PG-13,Sony Pictures,"$250,650,052","$500,207,943","5,46,07,854"
3,1998,Titanic,Adventure,PG-13,Paramount Pictures,"$443,319,081","$865,842,808","9,45,24,324"
4,1999,Star Wars Ep. I: The Phantom Menace,Adventure,PG,20th Century Fox,"$430,443,350","$776,153,749","8,47,32,942"
5,2000,How the Grinch Stole Christmas,Adventure,PG,Universal,"$253,367,455","$430,583,644","4,70,06,948"
6,2001,Harry Potter and the Sorcerer’s Stone,Adventure,PG,Warner Bros.,"$300,404,434","$486,166,890","5,30,74,988"
7,2002,Spider-Man,Adventure,PG-13,Sony Pictures,"$403,706,375","$636,480,273","6,94,84,746"
8,2003,Finding Nemo,Adventure,G,Walt Disney,"$339,714,367","$516,050,346","5,63,37,374"
9,2004,Shrek 2,Adventure,PG,Dreamworks SKG,"$441,226,247","$650,826,473","7,10,50,925"
10,2005,Star Wars Ep. III: Revenge of the Sith,Action,PG-13,20th Century Fox,"$380,270,577","$543,413,171","5,93,24,582"
11,2006,Pirates of the Caribbean: Dead Man’s Chest,Action,PG-13,Walt Disney,"$423,315,812","$591,995,851","6,46,28,368"
12,2007,Spider-Man 3,Adventure,PG-13,Sony Pictures,"$336,530,303","$448,054,878","4,89,14,288"
13,2008,The Dark Knight,Adventure,PG-13,Warner Bros.,"$531,001,578","$677,433,772","7,39,55,652"
14,2009,Transformers: Revenge of the Fallen,Action,PG-13,Paramount Pictures,"$402,111,870","$491,112,631","5,36,14,916"
15,2010,Toy Story 3,Action,G,Walt Disney,"$415,004,880","$481,805,411","5,25,98,844"
16,2011,Harry Potter and the Deathly Hallows: Part II,Action,PG-13,Warner Bros.,"$381,011,219","$440,108,798","4,80,46,812"
17,2012,The Avengers,Adventure,PG-13,Walt Disney,"$623,357,910","$717,331,462","7,83,11,295"
18,2013,Iron Man 3,Adventure,PG-13,Walt Disney,"$408,992,272","$460,808,016","5,03,06,552"
19,2014,Guardians of the Galaxy,Adventure,PG-13,Walt Disney,"$333,055,258","$373,413,235","4,07,65,637"
20,2015,Star Wars Ep. VII: The Force Awakens,Action,PG-13,Walt Disney,"$742,208,942","$806,480,887","8,80,43,765"
21,2016,Finding Dory,Action,PG,Walt Disney,"$486,295,561","$514,967,322","5,62,19,140"
22,2017,Star Wars Ep. VIII: The Last Jedi,Action,PG-13,Walt Disney,"$517,218,368","$528,173,936","5,76,60,910"
23,2018,Black Panther,Action,PG-13,Walt Disney,"$700,059,566","$703,901,821","7,68,45,177"
24,2019,Avengers: Endgame,Drama,PG-13,Walt Disney,"$858,373,000","$858,373,002","9,37,08,843"
25,2020,Bad Boys For Life,Drama,R,Sony Pictures,"$204,417,855","$204,417,848","2,23,16,359"
26,2021,Shang-Chi and the Legend of the Ten Rings,Drama,PG-13,Walt Disney,"$224,226,704","$224,226,704","2,44,78,897"

In [71]:
hg["GENRE"].unique()

array(['Drama', 'Adventure', 'Action'], dtype=object)

In [73]:
from sklearn.preprocessing import LabelEncoder

In [74]:
l_enco = LabelEncoder()

In [76]:
hg["GENRE"] = l_enco.fit_transform(hg["GENRE"])

In [77]:
hg

,YEAR,MOVIE,GENRE,MPAA RATING,DISTRIBUTOR,TOTAL FOR YEAR,TOTAL IN 2019 DOLLARS,TICKETS SOLD
0,1995,Batman Forever,2,PG-13,Warner Bros.,"$184,031,112","$387,522,978","4,23,06,002"
1,1996,Independence Day,1,PG-13,20th Century Fox,"$306,169,255","$634,504,608","6,92,69,062"
2,1997,Men in Black,1,PG-13,Sony Pictures,"$250,650,052","$500,207,943","5,46,07,854"
3,1998,Titanic,1,PG-13,Paramount Pictures,"$443,319,081","$865,842,808","9,45,24,324"
4,1999,Star Wars Ep. I: The Phantom Menace,1,PG,20th Century Fox,"$430,443,350","$776,153,749","8,47,32,942"
5,2000,How the Grinch Stole Christmas,1,PG,Universal,"$253,367,455","$430,583,644","4,70,06,948"
6,2001,Harry Potter and the Sorcerer’s Stone,1,PG,Warner Bros.,"$300,404,434","$486,166,890","5,30,74,988"
7,2002,Spider-Man,1,PG-13,Sony Pictures,"$403,706,375","$636,480,273","6,94,84,746"
8,2003,Finding Nemo,1,G,Walt Disney,"$339,714,367","$516,050,346","5,63,37,374"
9,2004,Shrek 2,1,PG,Dreamworks SKG,"$441,226,247","$650,826,473","7,10,50,925"
10,2005,Star Wars Ep. III: Revenge of the Sith,0,PG-13,20th Century Fox,"$380,270,577","$543,413,171","5,93,24,582"
11,2006,Pirates of the Caribbean: Dead Man’s Chest,0,PG-13,Walt Disney,"$423,315,812","$591,995,851","6,46,28,368"
12,2007,Spider-Man 3,1,PG-13,Sony Pictures,"$336,530,303","$448,054,878","4,89,14,288"
13,2008,The Dark Knight,1,PG-13,Warner Bros.,"$531,001,578","$677,433,772","7,39,55,652"
14,2009,Transformers: Revenge of the Fallen,0,PG-13,Paramount Pictures,"$402,111,870","$491,112,631","5,36,14,916"
15,2010,Toy Story 3,0,G,Walt Disney,"$415,004,880","$481,805,411","5,25,98,844"
16,2011,Harry Potter and the Deathly Hallows: Part II,0,PG-13,Warner Bros.,"$381,011,219","$440,108,798","4,80,46,812"
17,2012,The Avengers,1,PG-13,Walt Disney,"$623,357,910","$717,331,462","7,83,11,295"
18,2013,Iron Man 3,1,PG-13,Walt Disney,"$408,992,272","$460,808,016","5,03,06,552"
19,2014,Guardians of the Galaxy,1,PG-13,Walt Disney,"$333,055,258","$373,413,235","4,07,65,637"
20,2015,Star Wars Ep. VII: The Force Awakens,0,PG-13,Walt Disney,"$742,208,942","$806,480,887","8,80,43,765"
21,2016,Finding Dory,0,PG,Walt Disney,"$486,295,561","$514,967,322","5,62,19,140"
22,2017,Star Wars Ep. VIII: The Last Jedi,0,PG-13,Walt Disney,"$517,218,368","$528,173,936","5,76,60,910"
23,2018,Black Panther,0,PG-13,Walt Disney,"$700,059,566","$703,901,821","7,68,45,177"
24,2019,Avengers: Endgame,2,PG-13,Walt Disney,"$858,373,000","$858,373,002","9,37,08,843"
25,2020,Bad Boys For Life,2,R,Sony Pictures,"$204,417,855","$204,417,848","2,23,16,359"
26,2021,Shang-Chi and the Legend of the Ten Rings,2,PG-13,Walt Disney,"$224,226,704","$224,226,704","2,44,78,897"

In [78]:
hg["MPAA RATING"].unique()

array(['PG-13', 'PG', 'G', 'R'], dtype=object)

In [79]:
hg["MPAA RATING"] = l_enco.fit_transform(hg["MPAA RATING"])

In [83]:
len(hg["DISTRIBUTOR"].unique())

7

In [84]:
hg["DISTRIBUTOR"] = l_enco.fit_transform(hg["DISTRIBUTOR"])

In [88]:
hg["TOTAL FOR YEAR"] = hg["TOTAL FOR YEAR"].str.replace("," , "")

In [90]:
hg["TOTAL FOR YEAR"] = hg["TOTAL FOR YEAR"].apply(lambda x: float(x[1:]))

In [91]:
hg["TOTAL FOR YEAR"].dtype

dtype('float64')

In [92]:
hg["TOTAL IN 2019 DOLLARS"] = hg["TOTAL IN 2019 DOLLARS"].str.replace("," , "")

In [93]:
hg["TOTAL IN 2019 DOLLARS"] = hg["TOTAL IN 2019 DOLLARS"].apply(lambda x: float(x[1:]))

In [95]:
hg["TICKETS SOLD"] = hg["TICKETS SOLD"].str.replace("," , "")

In [96]:
hg["TICKETS SOLD"] = hg["TICKETS SOLD"].apply(lambda x: float(x))

In [97]:
hg["TICKETS SOLD"].dtype

dtype('float64')

In [98]:
hg

,YEAR,MOVIE,GENRE,MPAA RATING,DISTRIBUTOR,TOTAL FOR YEAR,TOTAL IN 2019 DOLLARS,TICKETS SOLD
0,1995,Batman Forever,2,2,6,184031112.0,387522978.0,42306002.0
1,1996,Independence Day,1,2,0,306169255.0,634504608.0,69269062.0
2,1997,Men in Black,1,2,3,250650052.0,500207943.0,54607854.0
3,1998,Titanic,1,2,2,443319081.0,865842808.0,94524324.0
4,1999,Star Wars Ep. I: The Phantom Menace,1,1,0,430443350.0,776153749.0,84732942.0
5,2000,How the Grinch Stole Christmas,1,1,4,253367455.0,430583644.0,47006948.0
6,2001,Harry Potter and the Sorcerer’s Stone,1,1,6,300404434.0,486166890.0,53074988.0
7,2002,Spider-Man,1,2,3,403706375.0,636480273.0,69484746.0
8,2003,Finding Nemo,1,0,5,339714367.0,516050346.0,56337374.0
9,2004,Shrek 2,1,1,1,441226247.0,650826473.0,71050925.0
10,2005,Star Wars Ep. III: Revenge of the Sith,0,2,0,380270577.0,543413171.0,59324582.0
11,2006,Pirates of the Caribbean: Dead Man’s Chest,0,2,5,423315812.0,591995851.0,64628368.0
12,2007,Spider-Man 3,1,2,3,336530303.0,448054878.0,48914288.0
13,2008,The Dark Knight,1,2,6,531001578.0,677433772.0,73955652.0
14,2009,Transformers: Revenge of the Fallen,0,2,2,402111870.0,491112631.0,53614916.0
15,2010,Toy Story 3,0,0,5,415004880.0,481805411.0,52598844.0
16,2011,Harry Potter and the Deathly Hallows: Part II,0,2,6,381011219.0,440108798.0,48046812.0
17,2012,The Avengers,1,2,5,623357910.0,717331462.0,78311295.0
18,2013,Iron Man 3,1,2,5,408992272.0,460808016.0,50306552.0
19,2014,Guardians of the Galaxy,1,2,5,333055258.0,373413235.0,40765637.0
20,2015,Star Wars Ep. VII: The Force Awakens,0,2,5,742208942.0,806480887.0,88043765.0
21,2016,Finding Dory,0,1,5,486295561.0,514967322.0,56219140.0
22,2017,Star Wars Ep. VIII: The Last Jedi,0,2,5,517218368.0,528173936.0,57660910.0
23,2018,Black Panther,0,2,5,700059566.0,703901821.0,76845177.0
24,2019,Avengers: Endgame,2,2,5,858373000.0,858373002.0,93708843.0
25,2020,Bad Boys For Life,2,3,3,204417855.0,204417848.0,22316359.0
26,2021,Shang-Chi and the Legend of the Ten Rings,2,2,5,224226704.0,224226704.0,24478897.0

In [99]:
hg.drop("MOVIE" , axis = 1, inplace = True)

In [100]:
hg

,YEAR,GENRE,MPAA RATING,DISTRIBUTOR,TOTAL FOR YEAR,TOTAL IN 2019 DOLLARS,TICKETS SOLD
0,1995,2,2,6,184031112.0,387522978.0,42306002.0
1,1996,1,2,0,306169255.0,634504608.0,69269062.0
2,1997,1,2,3,250650052.0,500207943.0,54607854.0
3,1998,1,2,2,443319081.0,865842808.0,94524324.0
4,1999,1,1,0,430443350.0,776153749.0,84732942.0
5,2000,1,1,4,253367455.0,430583644.0,47006948.0
6,2001,1,1,6,300404434.0,486166890.0,53074988.0
7,2002,1,2,3,403706375.0,636480273.0,69484746.0
8,2003,1,0,5,339714367.0,516050346.0,56337374.0
9,2004,1,1,1,441226247.0,650826473.0,71050925.0
10,2005,0,2,0,380270577.0,543413171.0,59324582.0
11,2006,0,2,5,423315812.0,591995851.0,64628368.0
12,2007,1,2,3,336530303.0,448054878.0,48914288.0
13,2008,1,2,6,531001578.0,677433772.0,73955652.0
14,2009,0,2,2,402111870.0,491112631.0,53614916.0
15,2010,0,0,5,415004880.0,481805411.0,52598844.0
16,2011,0,2,6,381011219.0,440108798.0,48046812.0
17,2012,1,2,5,623357910.0,717331462.0,78311295.0
18,2013,1,2,5,408992272.0,460808016.0,50306552.0
19,2014,1,2,5,333055258.0,373413235.0,40765637.0
20,2015,0,2,5,742208942.0,806480887.0,88043765.0
21,2016,0,1,5,486295561.0,514967322.0,56219140.0
22,2017,0,2,5,517218368.0,528173936.0,57660910.0
23,2018,0,2,5,700059566.0,703901821.0,76845177.0
24,2019,2,2,5,858373000.0,858373002.0,93708843.0
25,2020,2,3,3,204417855.0,204417848.0,22316359.0
26,2021,2,2,5,224226704.0,224226704.0,24478897.0